@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); /* 사용할 폰트를 import */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: "Noto Sans KR", sans-serif;
    overflow-y: auto; /* 세로 스크롤바 추가 */
}

.navbar {
    width: 100%;
    background-color: #120f3f;
    overflow: hidden;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif; /* 원하는 폰트 패밀리 설정 */
    height: 60px; /* navbar 높이 */
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 140px; /* Adjusted for navbar height */
    font-family: "Noto Sans KR", sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 1%;
    height: 100px;
    background-color: #f9fff9;
    color: white;
    font-size: 20px;
    cursor: pointer; /* Added cursor for pointer effect */
    font-family: "Noto Sans KR", sans-serif;
}

.history {
    display: none;
    width: 80%;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#addToListBtn-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px; /* 너비 */
    height: 50px; /* 높이 */
    background-color: #f0f0f0; /* 배경 색상 */
    color: black; /* 텍스트 색상 */
    font-size: 18px; /* 폰트 크기 */
    border: 2px solid #f0f0f0; /* 테두리 색상 */
    border-radius: 12px; /* 둥근 모서리 */
    cursor: pointer; /* 커서 포인터 */
    transition: background-color 0.3s, color 0.3s; /* 호버 효과 전환 */
}

#addToListBtn:hover {
    background-color: black; /* 호버 시 배경 색상 */
    color: white; /* 호버 시 텍스트 색상 */
}

.hidden {
  display: none;
}

/* 설문조사 스타일 추가 */
#quiz-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    font-family: "Noto Sans KR", sans-serif;
}

#question-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: "Noto Sans KR", sans-serif;
}

#choices-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: "Noto Sans KR", sans-serif;
}

.choice {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%; /* 너비를 30%로 설정하여 3개의 열로 배치 */
    height: 100px;
    margin-bottom: 20px; /* 선택 항목 사이의 간격을 추가 */
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    font-family: "Noto Sans KR", sans-serif;
}

.choice:hover {
    background-color: #e0e0e0;
    border-color: #888;
}

.choice input {
    display: none; /* input을 숨깁니다 */
}

.choice label {
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; /* label 자체는 클릭 불가능하게 합니다 */
    font-family: "Noto Sans KR", sans-serif;
}

.choice.selected {
    border-color: blue; /* 선택된 박스의 테두리를 파란색으로 변경 */
}

#next-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px; /* 너비 */
    height: 50px; /* 높이 */
    background-color: #f0f0f0; /* 배경 색상 */
    color: black; /* 텍스트 색상 */
    font-size: 18px; /* 폰트 크기 */
    border: 2px solid #f0f0f0; /* 테두리 색상 */
    border-radius: 12px; /* 둥근 모서리 */
    cursor: pointer; /* 커서 포인터 */
    transition: background-color 0.3s, color 0.3s; /* 호버 효과 전환 */
    font-family: "Noto Sans KR", sans-serif;
}

#next-button:hover {
    background-color: black; /* 호버 시 배경 색상 */
    color: white; /* 호버 시 텍스트 색상 */
}

#start-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px; /* 너비 */
    height: 50px; /* 높이 */
    background-color: #f0f0f0; /* 배경 색상 */
    color: black; /* 텍스트 색상 */
    font-size: 18px; /* 폰트 크기 */
    border: 2px solid #f0f0f0; /* 테두리 색상 */
    border-radius: 12px; /* 둥근 모서리 */
    cursor: pointer; /* 커서 포인터 */
    transition: background-color 0.3s, color 0.3s; /* 호버 효과 전환 */
    font-family: "Noto Sans KR", sans-serif;
}

#start-button:hover {
    background-color: black; /* 호버 시 배경 색상 */
    color: white; /* 호버 시 텍스트 색상 */
}

#result-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    flex-direction: column; /* 세로 방향 정렬 */
    justify-content: center; /* 수직 방향 중앙 정렬 */
    align-items: center; /* 수평 방향 중앙 정렬 */
    font-family: "Noto Sans KR", sans-serif;
}

#result {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center; /* 텍스트 중앙 정렬 */
    background-color: #f0f0f0; /* 배경 색상 */
    color: black; /* 텍스트 색상 */
    font-size: 18px; /* 폰트 크기 */
    border: 2px solid #f0f0f0; /* 테두리 색상 */
    border-radius: 12px; /* 둥근 모서리 */
    font-family: "Noto Sans KR", sans-serif;
}

.button-wrapper {
    display: flex;
    justify-content: center; /* 수평 방향 중앙 정렬 */
    width: 100%; /* 부모 요소의 너비 전체 */
}
