@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); /* 사용할 폰트를 import */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: "Noto Sans KR", sans-serif;
  }
  
  .navbar {
    width: 100%;
    background-color: #120f3f;
    overflow: hidden;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-family: 'Anton', sans-serif; /* 원하는 폰트 패밀리 설정 */
  }
  
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 80px; /* Adjusted for navbar */
    font-family: "Noto Sans KR", sans-serif;
  }
  
  .link-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    text-align: center;
    margin-top: 20px;
    font-family: "Noto Sans KR", sans-serif;
  }
  
  .link-grid a {
    display: block;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    transition: background-color 0.3s, transform 0.3s;
    font-family: "Noto Sans KR", sans-serif;
  }
  
  .link-grid a:hover {
    background-color: #ddd;
    transform: scale(1.05);
  }